mixin text(info)
    div.text-mixin__container
        a(href=`/text/read/${info.id}`)
            span.text-mixin__title=info.title
        br
        span.text-mixin__content
            span.text-mixin__author=info.owner.name
            span.text-mixin__views=info.views