extends ../base.pug

block content 
    div.write__container
        if errorMessage
            span=errorMessage
        form(method="POST") 
            input(name="title", placeholder="Title", required, maxlength=80)
            textarea(name="text", cols="30", rows="10", placeholder="Content", required) 
            input(value="publishing", type="submit")

block scripts
    //- script(src="/static/js/recorder.js") 