.text__data{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .text__title{
        font-size: 26px;
        margin-bottom: 5px;
    }
    .text__createdAt{
        font-size: 12px;
    }
    .text__owner{
        margin-bottom: 5px;
        font-size: 14px;
        a{
            color: cornflowerblue;
            text-decoration: underline;
        }
    }
}
.text__comments{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    .text__comment{
        padding: 10px;
        border-radius: 9999px;
        background-color: white;
        color: black;
        margin-bottom: 10px;
        .comment__delete{
            cursor: pointer;
        }
        .text__comment-owner{
            color: gray;
            font-size: 10px;
        }
    }
}
.text__add-comments{
        width: 400px;
        height: 100px;
        margin: auto;
    textarea{
        width: 200px;
        height: 50px;
    }
    button{
        height: 20px;
        width: 100px;
        background-color: black;
        color: white;
        border-radius: 50px;
    }
}