extends base
include mixins/text

block content
    form(method="GET").search__form
        input(placeholder="search by title or content", type="text", name="keyword")
        button
            i.fas.fa-search
    div.home__text
        each item in texts
            +text(item)
        else 
            sapn.empty__message No Text found